<div class="card">
        <div class="header">
            <h4 class="title">Interviewee Verdict</h4>
        </div>
        <div class="content">
            <form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Interview ID</label>
                            <input type="text" class="form-control" placeholder="Interview ID">
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="radio" name="gender" value="accpt"> Accept <br>
                                <input type="radio" name="gender" value="rjct"> Reject <br>
                            </div>
                        </div>
                </div>
                <button type="submit" class="btn btn-info btn-fill pull-center">Submit Verdict</button>
                <div class="clearfix"></div>
            </form>
        </div>
</div>
<div class="card">
        <div class="header">
            <h4 class="title">Review Interviewee Resume/CV</h4>
        </div>
        <div class="content">
            <form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Interview ID</label>
                            <input type="text" class="form-control" placeholder="Interview ID">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info btn-fill pull-center">Fetch Resume/CV</button>
                <div class="clearfix"></div>
            </form>
        </div>
</div>
<div class="card">
        <div class="header">
            <h4 class="title">Review Interviewee Interview</h4>
        </div>
        <div class="content">
            <form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Interview ID</label>
                            <input type="text" class="form-control" placeholder="Interview ID">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info btn-fill pull-center">Fetch Interview</button>
                <div class="clearfix"></div>
            </form>
        </div>
</div>
